<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shut up ya kunal!</title> -->

    <%- include('partials/head.ejs') %>

</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container p-5">
    <h1> gangsta baby baby</h1>
    <p> yoo mofofo lelel</p>
    <p>some details about <%= person %> </p>
    <p><b>age:</b> <%= data.age %> </p>
    <p><b>job:</b> <%= data.job %></p>
    <h1>hobbies</h1>
    <ul>
        <% data.hobbies.forEach(item=>{%>     
            <li><%= item %></li><%
        })
        %>
    </ul>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>